\"(?:[^"\\]|\\.)*\"           return 'QUOTED'
\'(?:[^'\\]|\\.)*\'           return 'SINGLEQUOTED'
\w+                           return 'UNQUOTED'
<<EOF>>                       return 'EOF'
.                             return "INVALID"
